{% block content %}
<style>
    .submit-auth-button {
        display: none;
    }
    body {
        background: #1b2838;
        color: #fff;
    }
    img {
        max-width: 100%;
    }
</style>
    <h1>Redirecting . . .</h1>
    <img src="{{ url_for('static', filename='img/engine-engineer.gif') }}">
    <form action="" method="post" name="login" id="login-form">
        {{ form.hidden_tag() }}
        <input type=hidden name=next value="{{ next }}">
        <p><input type="submit" value="Sign In" class="submit-auth-button"></p>
    </form>
<p>To do: make a better redirect page</p>
<script>
    var form = document.getElementById('login-form');
    var redirecting = document.querySelector('h1');
    setInterval(function(){redirecting.innerText += ' .'}, 300);
    form.submit();
</script>
{% endblock %}