{% extends "base.html" %}

{% block content %}

    <style type="text/css">
      #main-top {
        background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%, #494963 0%, #323347 90% );
        color: #fff !important;
      }
      .main-page-pic {
        background-size: contain;
        background-repeat: no-repeat;
      }
      .btn-icon.rounded-circle {
        padding: 0.85rem;
      }
      .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
      }
      .card {
        border-width: 0 !important;
        background-size: cover;
        background-image: url({{ url_for('static', filename='img/bananabay.jpg') }});
        background-position: center;
        border-radius: 0.75rem !important;
        cursor: pointer;
        transition: transform 0.4s cubic-bezier(0, 0, 0, 1.01);
        overflow: hidden;
      }
      .card::before { 
        content:"";
        position:absolute; top:0;right:0;bottom:0;left:0;
        background:inherit;
        transition:inherit;
      }
      .card:hover::before { 
        transform: scale(1.1);
      }
      .card-b {
        height: 25rem;
      }
      .card-m {
        height: 11.75rem;
      }
      .card-img-overlay {
        background-image: linear-gradient(180deg, transparent, #030303);
        border-radius: 0.75rem !important;
      }
      .w-100.mt-auto {
        color:  #fff;
      }
      .under-development-alert {
        width: 100%;
        height: 50px;
      }
      .alert-development {
        color: #fff !important;
        background-color: #dc3545 !important;
        position: absolute !important;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        max-width: 90% !important;
        top: 100px;
      }
      .alert-development a {
        color: #fff !important;
      }
      svg.me-2 {
        margin-right: 1rem !important;
      }
      .card a {
        transition: all 0.3s ease-in-out;
        color: #fff !important;
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
      }
      .card:hover h3 {
        text-decoration: underline !important;
      }
      .accordion-button {
        font-size: 1.5rem !important;
      }
      #faq > .row {
        margin: auto;
      }
      #footer {

      }
    </style>


      <section id="main-top" class="d-flex align-items-center bg-dark bg-size-cover bg-position-center min-vh-100 overflow-hidden pt-6 pb-lg-5">
        <div class="row">
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          </svg>

          <div class="alert alert-danger d-flex align-items-center alert-development d-none d-lg-flex" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              Alert! This project is under development now and hasn't been released yet. Many sufficient parts are missing! Btw you can <a href="{{ url_for('contact') }}">help</a> ;)
            </div>
          </div>
        </div>
          
        <div class="container-fluid pt-4 pb-5 py-lg-5 px-3">
          <div class="row align-items-center py-3">
            <div class="col-xl-6 col-lg-5 d-flex justify-content-end ps-5">
              <div class="pt-5 pt-sm-2 mx-auto mb-5 mb-lg-0 ms-lg-0 me-xl-7 text-center text-lg-start">

                <h1 class="display-4 text-light pb-2">New to <strong>TF2?</strong></h1>
                <p class="h4 fw-light text-light opacity-70 line-height-base">Have more questions than answers? The friendly community of experienced players is here to help!</p>

                <a class="d-inline-flex align-items-center text-decoration-none pt-3 mt-4 mb-3" href="#more" data-scroll=""><span class="btn btn-icon rounded-circle border-light flex-shrink-0 px-3"><img src="{{ url_for('static', filename='icons/arrow_downward_white_24dp.svg') }}" style="width: 24px;"></i></span><span class="ms-3 text-light fw-medium fs-5">How?</span></a>

                <hr class="hr-light mt-5 mb-5">
                <div class="row">
                  <div class="col-sm-4 mb-4 mb-sm-0">
                    <!-- Number of mentors -->
                    <div class="h1 text-light mb-1">14</div>
                    <div class="h5 text-light fw-normal opacity-70 mb-2">Active mentors</div>
                  </div>
                  <div class="col-sm-4 mb-4 mb-sm-0">
                    <!-- number of students -->
                    <div class="h1 text-light mb-1">130</div>
                    <div class="h5 text-light fw-normal opacity-70 mb-1">Happy new gamers</div>
                  </div>
                  <div class="col-sm-4">
                    <!-- I dunno. Suggest something if you're reading this -->
                    <div class="h1 text-light mb-1">42</div>
                    <div class="h5 text-light fw-normal opacity-70 mb-1">The Answer</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-7">
              <img class="ms-lg-n5" src="{{ url_for('static', filename='img/scoot.png') }}" style="width: 100%;"></img>
            </div>
          </div>
        </div>
      </section>

      <section style="background-color: #f7f7fc;" id="more">
        <div class="container card-grid py-5">
          <h1 class="mb-4">What do you want to learn?</h1>
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card card-overlay-bottom card-grid-lg card-bg-scale card-b">
                <a href="{{ url_for('mentors') }}">
                  <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                    <div class="w-100 mt-auto">
                      <h3>Basics</h3>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="card card-overlay-bottom card-grid-sm card-bg-scale card-m"><a href="{{ url_for('mentors', area='jumping') }}">
                    <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                      <div class="w-100 mt-auto"><h3>Rocket or sticky jumping</h3></div>
                    </div></a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card card-overlay-bottom card-grid-sm card-bg-scale card-m">
                    <a href="{{ url_for('mentors') }}">
                      <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                        <div class="w-100 mt-auto"><h3>Engineering</h3></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card card-overlay-bottom card-grid-sm card-bg-scale card-m">
                    <a href="{{ url_for('mentors') }}">
                      <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                        <div class="w-100 mt-auto"><h3>Airblasting</h3></div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="row g-4">
                <div class="col-md-6">
                  <div class="card card-overlay-bottom card-grid-sm card-bg-scale card-m">
                    <a href="{{ url_for('mentors') }}">
                      <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                        <div class="w-100 mt-auto"><h3>Trickstabbing</h3></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card card-overlay-bottom card-grid-sm card-bg-scale card-m">
                    <a href="{{ url_for('mentors') }}">
                      <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                        <div class="w-100 mt-auto"><h3>Competitive</h3></div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row g-4">
                <div class="col-12">
                  <div class="card card-overlay-bottom card-grid-sm card-bg-scale card-m">
                    <a href="{{ url_for('mentors') }}">
                      <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                        <div class="w-100 mt-auto"><h3>Trading</h3></div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="faq">
        <div class="row container my-5">
          <h1 class="ms-3">FAQ</h1>
          <div class="col content visible-borders my-3">
            <div class="accordion" id="accordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading1">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Is it free?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <span>Yes, it's free and you will not be asked to pay. <!-- If you are very glad with what you get and have a possibility, you can donate some items to this project or directly to your mentor. However we are happy to help you even without donations --></span>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Why are you doing that? 
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <span>Because we love tf2, love to help and meet new people.</span>

                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading3">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Who are the mentors? 
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <span>Mentors are experienced TF2 players who want to share their experience and help new players to get into TF2. If you are one of them, you can also <a href="{{ url_for('become_a_mentor') }}">become a mentor</a>.</span>

                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading4">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How do I get help?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <span>There are two options. First, you can go to the <a href="#">mentors page</a> and find somebody who looks appealing to you, depending on your needs. Then you message them on Discord and if they are available, add them on Steam. The second option is to just join our <a href="https://discord.gg/GYvsaTyaM7">discord server</a> and ask for help in the #help-requests channel. Specify your location (like Europe or North America) and language so it will be easier for you to communicate with a mentor. 
                    </span>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    Engineer
                  </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Hey look buddy, I'm an engineer. That means I solve problems, not problems like "What is beauty?" Because that would fall within the purview of your conundrums of philosophy. I solve practical problems, for instance: how am I going to stop some mean mother Hubbard from tearing me a structurally superfluous be-hind? The answer, use a gun, and if that don't work... Use more gun. Take for instance this heavy caliber tripod mounted lil' old number designed by me, built by me, and you best hope... Not pointed at you.
                    </p>
                    <p>I'll put here something serious later.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% include "footer.html" %}
{% endblock %}