{% extends "base.html" %}

{% block content %}

    <style type="text/css">
      #main-top {
        color: #fff !important;
      }
      .main-page-pic {
        background-size: contain;
        background-repeat: no-repeat;
      }
      nav.navbar-floating {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        z-index: 10;
      }
      .btn-icon.rounded-circle {
        padding: 0.85rem;
      }
      .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
      }
      .carousel-inner {
        background: linear-gradient(90deg,#bfa6ec,#65b2e2,#2addd8);
      }
      .carousel-btn-next {
        background-color: #4a5da8 !important;
        border-color: #4b5990 !important;
      }
    </style>

    <main class="page-wrapper">

        <div id="carouselBecomeAMentor" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false" data-bs-touch="false" >
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselBecomeAMentor" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselBecomeAMentor" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselBecomeAMentor" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselBecomeAMentor" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselBecomeAMentor" data-bs-slide-to="4" aria-label="Slide 5"></button>
          </div>
          <div class="carousel-inner align-items-center min-vh-100 d-flex">
            <div class="carousel-item active" id="carousel-1">
                <div class="row px-2 mx-2 px-md-5 mx-md-5">
                    <div class="col">
                        <h1 class="display-4">You want to become a mentor</h1>
                        <p class="fs-5">That's awesome! Hopefully you'll find new friends and have a great time helping new players get better at the game. In order to have the best experience for all the parties, there are some rules and advice.</p>
                        <button onclick="carousel.next()" type="button" class="btn btn-success btn-lg carousel-btn-next float-end mt-4 me-4">Okay mate</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="carousel-2">
                <div class="row px-2 mx-2 px-md-5 mx-md-5">
                    <div class="col">
                        <h1 class="display-4">Do not ask for a payment.</h1>
                        <p class="fs-5">That's a rule. Providing services for a reward and helping people out of kindness are different things and cause different expectations and relationships. In case if your apprentice states that they want to pay for your time and effort, it's fine, let them. Just don't ask for it.</p>
                        <button onclick="carousel.next()" type="button" class="btn btn-success btn-lg carousel-btn-next float-end mt-4 me-4">I'm here just to help</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="carousel-3">
                <div class="row px-2 mx-2 px-md-5 mx-md-5">
                    <div class="col">
                        <h1 class="display-4">Some people may quit.</h1>
                        <p class="fs-5">Don't take it personally if somebody quits TF2 after your lessons. Most likely it's not because you are a bad teacher, but because this is not their cup of tea. You didn't stick to every game you've played, did you?</p>
                        <button onclick="carousel.next()" type="button" class="btn btn-success btn-lg carousel-btn-next float-end mt-4 me-4">Let them go</button>
                    </div>
                </div>
            </div>
            <!-- div class="carousel-item" id="carousel-4">
              // I'll leave it here just in case
                <div class="row px-2 mx-2 px-md-5 mx-md-5">
                    <div class="col">
                        <h1 class="display-4">Some people may try different mentors.</h1>
                        <p class="fs-5">Switching mentors is fine, too. For whatever reason, from meeting more people to looking for somebody else who is more comfortable to play with. </p>
                        <button onclick="carousel.next()" type="button" class="btn btn-success btn-lg carousel-btn-next float-end mt-4 me-4">Let them go</button>
                    </div>
                </div>
            </div -->
            <div class="carousel-item" id="carousel-4">
                <div class="row px-2 mx-2 px-md-5 mx-md-5">
                    <div class="col">
                        <h1 class="display-4">Be respectful and patient.</h1>
                        <p class="fs-5">Don't expect new players to learn things from the first time. Or even second. Especially when it's something harder than crouch jumping.</p>
                        <p class="fs-5">It should be obvious, but don't make people feel bad even when they are really bad at something. Encourage and support them. Be a teacher you would like to have.</p>
                        <button onclick="carousel.next()" type="button" class="btn btn-success btn-lg carousel-btn-next float-end mt-4 me-4">I'm the patience itself</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="carousel-5">
                <div class="row px-2 mx-2 px-md-5 mx-md-5">
                    <div class="col">
                        <h1 class="display-4">Fun first, knowledge second.</h1>
                        <p class="fs-5">When somebody just starts playing the game, help them have fun. There's a ton of things to learn in TF2, but don't dump it on a newbie at once. Help them with some crucial settings like FOV and fast weapon switch and just play together. This is not a rule, just an advice. People and their needs are different, I believe you are smart enough to figure out what will be the best for your student :3 </p>
                        <a href="{{ url_for('fill_the_profile') }}" type="button" class="btn btn-success btn-lg carousel-btn-next float-end mt-4 me-4">Fine</a>
                    </div>
                </div>
            </div>
          </div>
        </div>

    </main>
    <script type="text/javascript">
        var carouselBecomeAMentor = document.querySelector('#carouselBecomeAMentor');
        var carousel = new bootstrap.Carousel(carouselBecomeAMentor);

        // carousel.next() to slide
    </script>
{% endblock %}